<!doctype html>
<html>

<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,800" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../styles/style.css">
	<link rel="icon" href="../images/favicon.ico">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
	<style>
	.tags{
	    margin-top: 0px !important;
	}
	</style>
	<title>Articles</title>

	<style>
		.right {
			position: absolute;
			right: 50px;
			width: 300px;
			border: 3px solid #000000;
			padding: 10px;
		}
	</style>

</head>

<body>
	<div id="page-header">

		<div class="wrap">
			<h2 class="page-title"> <img class="logo" src="../images/favicon.ico" height="55" width="55"/> NEPS Knowledgebase</h2>

			<ul class="sf-menu" id="main-nav">
				<li>
					<a class="lnk" href="/"> <strong> Dashboard </strong>
						<hr class="link-toolbar"> </a>
				</li>
				<li>
					<a class="lnk" href="/articles"> <strong> Knowledgebase </strong>
						<hr class="link-toolbar"> </a>
				</li>
				<li>
					<a class="lnk" href=""> <strong> Options </strong>
						<hr class="link-toolbar"> </a>
				</li>
			</ul>

		</div>
	</div>

	<div class="bigsearch">
		<input type="text" placeholder="Search..." id="searchbar" class="form-control" />
	</div>

	<div class="wrap">
		<div class="content-container">
			<h3 class="article-header"> <img class="img" src="../images/articles.png" height="30" width="30"/> Articles
				<div class="add-article">
					<a class="add-article-link" href="/post"> Add New... </a>
				</div>
			</h3>

			<div class="Table">

				<div class="table-spacer"></div>
				<div class="line">
					<div class="cell title-header header">
						<strong>TITLE</strong>
					</div>
					<div class="cell customer-header header">
						<strong>CUSTOMER</strong>
					</div>
					<div class="cell tag-header header">
						<strong>TAGS</strong>
					</div>
					<div class="cell date-header header">
						<strong>CREATED</strong>
					</div>
					<div class="cell revised-header header">
						<strong>REVISED</strong>
					</div>
				</div>
				<div class="header-spacer"></div>

				<% data.forEach(function (Articles) { %>
					<div class="line">
						<div class="article-title cell">
							<% var url = "/articles/"+Articles.Title+"?id="+Articles.ID %>
								<%- link_to(Articles.Title, url.replace(/ /g,"-")) %>
						</div>
						<div class="article-customer cell">
							<% if (Articles.Customer !== "n/a") { %>
								<%= Articles.Customer %>
							<% } else { %>
							<div style="color:#AAA">
								<%= 'n/a' %>
							</div>
							<% } %>
						</div>
						<div class="article-tag cell">
							<% if (Articles.Tags !== null) { %>
								<% var taglist = Articles.Tags.split(';') %>
								<% var tagstring = "" %>
								<% taglist.forEach(function(tag){ %>
								<% tagstring += (tag + ', ') %>
								<% })  %>
								<%= tagstring.substring(0, tagstring.length - 2)%>
							<% } else { %>
							<div style="color:#AAA">
								<%= 'n/a' %>
							</div>
							<% } %>
						</div>
						<div class="article-date cell">
							<% var dateOnly = Articles.Time.split(' ')[0] %>
							<% var yearFormat = dateOnly.split('/') %>
							<% var yy =  yearFormat[2].substr(2, 2) %>
							<% var finalDateString = yearFormat[0] +'/'+ yearFormat[1] +'/'+ yy %>
							<%= finalDateString %>
						</div>
						<div class="article-revised cell">
							<% if (Articles.Modified !== null) { %>
							<% dateOnly = Articles.Modified.split(' ')[0] %>
							<% yearFormat = dateOnly.split('/') %>
							<% yy =  yearFormat[2].substr(2, 2) %>
							<% finalDateString = yearFormat[0] +'/'+ yearFormat[1] +'/'+ yy %>
							<%= finalDateString %>
							<% } else { %>
							<div style="color:#AAA">
								<%= 'n/a' %>
							</div>
							<% } %>
						</div>
					</div>
					<div class="line-spacer"></div>
					<% }) %>
			</div>


			<script src="/socket.io/socket.io.js"></script>
			<script src="../scripts/realtime.socket.js"></script>
		</div>

		<div class="sidebar-admin">
			<h3 class="tags"><span class="entypo">C</span>Tags</h3>

			<ul class="tag-list">
				<% tagdata.forEach(function (Tags) { %>
					<div id="my-div">
						<li>
							<a href="#">
								<%= Tags.Text%>
							</a>
						</li>
						<% }) %>
					</div>
			</ul>

		</div>
		<!-- end sidebar -->
	</div>
</body>

</html>
