<!doctype html>
<html>
<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,800" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/style.css" />
<link rel="icon" href="../images/favicon.ico">

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.2.3/quill.min.js"></script>
<link href="//cdn.quilljs.com/1.2.3/quill.snow.css" rel="stylesheet">

	<style>

	#customer-app {
			margin-bottom: 15px;
	}

	#customer-app > div > div > div {
			font-family: 'Nunito', sans-serif !important;
			font-weight: bold;
			color: #a0a0a0 !important;
			font-size: 14px !important;
	}

	#react-item {
			font-family: 'Nunito', sans-serif !important;
			font-weight: bold !important;
			font-size: 13px !important;
			color: #555 !important;
	}
	.sidebar {
		position: relative;
		left: 10px;
		width: 28%;
		float: right;
		display: block;
		padding-top: 0px !important;
	}

	.customer {
		margin-top: 0px !important;
	}

	</style>



<head>
				<% data.forEach(function (Articles) { %>
					<title>
						<%=Articles.Title%>
					</title>
					<% }) %>
						<% data.forEach(function (Articles) { %>
</head>

<body>
	<div id="page-header">
		<div class="wrap">
			<h2 class="page-title">NEPS Knowledgebase <img class="logo-article" src="../images/favicon.ico" height="35" width="35"/> </h2>

			<ul class="sf-menu" id="main-nav">
				<li>
					<a class="lnk" href="/"> <strong> Dashboard </strong>
						<hr class="link-toolbar"> </a>
				</li>
				<li>
					<a class="lnk" href="/"> <strong> Knowledgebase </strong>
						<hr class="link-toolbar"> </a>
				</li>
				<li>
					<a class="lnk" href=""> <strong> Options </strong>
						<hr class="link-toolbar"> </a>
				</li>
			</ul>
		</div>

	</div>
	<div class="wrap">

		<div class="content-container">

			<div class="article">
				<input id="edit-id" type="hidden" name="id" value=<%= Articles.ID %> >
				<h2 id="post-title"><%=Articles.Title %></h2>
				<div id="editFader"> <img src="../images/Edit.png" height="18" width="18"> </div>
				<p class="post-meta">by
					  <%- (Articles.User || '<font color="#AAA">anonymous</font>') %> on

						<% function mod(n, m) { %>
        			<% return ((n % m) + m) % m %>
						<% } %>

						<% var dateOnly = Articles.Time.split(' ')[0] %>
						<% var yearFormat = dateOnly.split('/') %>
						<% var yy =  yearFormat[2].substr(2, 2) %>
						<% var finalDateString = yearFormat[0] +'/'+ yearFormat[1] +'/'+ yy %>
						<% var AmOrPm = ' a.m' %>
						<% var timeOnly = Articles.Time.split(' ')[1] %>
						<% var timeFormat = timeOnly.split(':') %>
            <% if(timeFormat[0] >= 0 && timeFormat[0] < 4){ %>
              <% var date = parseInt(yearFormat[1])-1 %>
              <% finalDateString = yearFormat[0] +'/'+ date +'/'+ yy %>
              <% AmOrPm = ' p.m' %>
            <% } %>
						<%= finalDateString %> at


						<% if (timeFormat[0]-4 > 12) { %>
							<% AmOrPm = ' p.m'  } %>
						<% var twelveHourFormat = mod(parseInt(timeFormat[0])-4, 12) %>
						<% if (twelveHourFormat == 0 ) { %>
							<%= "12:" + timeFormat[1] + AmOrPm %>
						<% } else { %>
							<%= twelveHourFormat + ':' + timeFormat[1] + AmOrPm %>
						<% } %>
				</p>
				<p class="updated">
					<% if (Articles.Updated !== null ){ %>
					<font size="2">Updated on
						<% var dateOnly = Articles.Updated.split(' ')[0] %>
						<% var yearFormat = dateOnly.split('/') %>
						<% var yy =  yearFormat[2].substr(2, 2) %>
						<% var finalDateString = yearFormat[0] +'/'+ yearFormat[1] +'/'+ yy %>
						<% var AmOrPm = ' a.m'; %>
						<% var timeOnly = Articles.Updated.split(' ')[1] %>
						<% var timeFormat = timeOnly.split(':') %>
            <% if(timeFormat[0] >= 0 && timeFormat[0] < 4){ %>
              <% var date = parseInt(yearFormat[1])-1 %>
              <% finalDateString = yearFormat[0] +'/'+ date +'/'+ yy %>
              <% AmOrPm = ' p.m' %>
            <% } %>
						<%= finalDateString %> at


						<% if (timeFormat[0]-4 > 12) { %>
							<% AmOrPm = ' p.m'  } %>
						<% var twelveHourFormat = mod(parseInt(timeFormat[0])-4, 12) %>
						<% if (twelveHourFormat == 0 ) { %>
							<%= "12:" + timeFormat[1] + AmOrPm %>
						<% } else { %>
							<%= twelveHourFormat + ':' + timeFormat[1] + AmOrPm %>
						<% } %>
					</font>
					<% } %>
				</p>

				<h3 id="post-sym">Symptoms</h3>
				<div class='symptoms'>
					<%=Articles.Symptoms %>
				</div><br />

				<h3 id="post-sum">Solution Summary</h3>
				<div class='summary'>
					<% if (Articles.Summary !== "n/a") { %>
						<%= Articles.Summary %>
					<% } else { %>
					<div style="color: #AAA;">
							<%= "This issue hasn't been solved yet..." %>
					</div>
					<% } %>
				</div>

				<br><br>
				<div class='content'>
					<div id="delta" style="display: none;">
						<%=Articles.Delta %>
					</div>
					<%- Articles.Content %>
				</div><br />

			</div>
			<div class="com">
				<h3 class="comments"><span class="entypo">9</span>Comments
          <div class="add-com">
              <a class="add-com-link"> Add New... </a>
          </div> </h3>
				<div class="com-body">
					<ul class="com-list">
						<li id="no-coms">
							<font color="#a0a0a0" size="2"> No Comments </font>
						</li>
					</ul>
				</div>
			</div>
		</div>




		<div class="sidebar-post">
			<h3 class="layout-customer customer"><span class="entypo">,</span>Customer</h3>
			<ul>
				<li class="customer-field">
					<% if (Articles.Customer !== "n/a") { %>
						<strong> <%= customerdata[0].Name %> </strong>
						<input type="hidden" id="hidden-customer" value= <%= customerdata[0].ID %> />
					<% } else { %>
					<div id="no-customer">
						<%= 'No customer' %>
					</div>
					<% } %>
				</li>
			</ul>


			<h3 class="tags"><span class="entypo">C</span>Tags</h3>

			<ul class="tag-list-non-edit">
				<li>
				<% if (Articles.Tags !== null) { %>
					<% var tagArray = Articles.Tags.split(';') %>
					<% tagArray.forEach( function(tag) { %>
					<a href="#">
						<%= tag %>
					</a>
				 <%  }) %>
			<% } else { %>
					<div id="no-tags">
						<%= 'No tags' %>
					</div>
				</li>
			<% } %>
			</ul>


			<h3 class="attachments-non-edit"><span class="entypo">'</span>Attachments</h3>
			<div class="attachment-list">
				<div id="no-attach" style="margin-bottom: 5px;">
					No attachments
				</div>
			</div>

			<div class="add-attachment">
					<a id="upload" class="add-attachment-link"> Add New... </a>
					<input type="file" id="upload-input" name="uploads[]" multiple="multiple" />
					<div id="progressBar"></div>
			</div>

			<h3 class="post-revisions"><span class="entypo">2</span>Previous Versions</h3>
			<ul class="revision-list">
				<li>
					<div id="no-revisions">
						No revisions
					</div>
				</li>
			</ul>
		</div>



		<div class="sidebar" style="display: none;">
				<h3 class="post-customer customer"><span class="entypo">,</span>Customer</h3>
				<input id="customer-input" type="hidden" name="customer" />
				<div id="customer-app"></div>
				<img class="customer-search_img" src="../images/search.ico" />

				<ul>
					<li class="customer-list">
						<% if (Articles.Customer !== "n/a") { %>
							<strong> <%= customerdata[0].Name %> </strong>
							<input type="hidden" id="hidden-customer-id" value= <%= customerdata[0].ID %> />
						<% } else { %>
						<div id="no-customer">
							<%= 'No customer' %>
						</div>
						<% } %>
					</li>
				</ul>

				<div class="add-customer">
					<a class="add-customer-link" href="/post-customer"> Add New... </a>
				</div>

				<h3 class="post-tags tags"><span class="entypo">C</span>Tags</h3>
				<ul class="tag-list">
					<li>
					<% if (Articles.Tags !== null && Articles.Tags !== '') { %>
						<div id="hidden-tag-ids" style="display: none;">
							<%= Articles.Tags %>
						</div>
						<% var tagArray = Articles.Tags.split(';') %>
						<% tagArray.forEach( function(tag) { %>
						<a href="#">
							<%= tag %>
						</a>
					 <%  }) %>
				<% } else { %>
						<div id="no-tag">
							<%= 'No tags' %>
						</div>
					</li>
				<% } %>
				</ul>
				<div class="add-tag">
						<a class="add-tag-link"> Add New... </a>
				</div>

				<h3 class="post-attachments attachments"><span class="entypo">'</span>Attachments</h3>
				<ul>
					<li>
						<div id="attach">
							<ul class="attachment-list">
										<li>
											<div id="no-attach">
												<%= "No attachments" %>
											</div>
										</li>
							</ul>
						</div>
						<!-- id="upload" -->
					</li>
				</ul>
		</div>

		<%  }) %>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../scripts/upload.js"></script>
	<script src="../scripts/bundle-autocomplete-customer.js"></script>
	<script src="../scripts/edit-customer.js"></script>
	<script src="../scripts/revise.js"></script>
	<script src="../scripts/comment.js"></script>
	<script src="../scripts/tag.js"></script>
	<script src="../scripts/download.js"></script>

</body>

</html>
