<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,800" rel="stylesheet">
    <link rel="icon" href="../images/favicon.ico">

    <link href="//cdn.quilljs.com/1.2.3/quill.snow.css" rel="stylesheet">
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.2.3/quill.min.js"></script>

    <link rel="stylesheet" href="../styles/style.css">

    <style>

    #customer-app {
        margin-bottom: 15px;
    }

    #customer-app > div > div > div {
        font-family: 'Nunito', sans-serif !important;
        font-weight: bold;
        color: #a0a0a0 !important;
        font-size: 14px !important;
    }

    #react-item {
        font-family: 'Nunito', sans-serif !important;
        font-weight: bold !important;
        font-size: 13px !important;
        color: #555 !important;
    }

    </style>

    <title>New Article</title>

</head>

<body>
    <div id="page-header">

        <div class="wrap">
            <h2 class="page-title">NEPS Knowledgebase <img class="logo-article" src="../images/favicon.ico" height="35" width="35"/> </h2>

            <ul class="sf-menu" id="main-nav">
                <li>
                    <a class="lnk" href="/"> <strong> Dashboard </strong>
                        <hr class="link-toolbar"> </a>
                </li>
                <li>
                    <a class="lnk" href="/"> <strong> Knowledgebase </strong>
                        <hr class="link-toolbar"> </a>
                </li>
                <li>
                    <a class="lnk" href=""> <strong> Options </strong>
                        <hr class="link-toolbar"> </a>
                </li>
            </ul>

        </div>

    </div>

    <form id="article_form" onsubmit="return false;">
        <div class="wrap">

            <div class="content-container">

                <h2>New Article</h2>

                <!-- action="/articles/post" method="post" -->
                <label>Title</label>
                <input type="text" class="title form-control" name="title">

                <label>Symptoms</label>
                <input type="text" class="symptoms form-control" name="sym">

                <input type="hidden" name="sum" class="form-control"></textarea>

                <label>Content</label>
                <div class="content-editor"></div>
                <input type="hidden" class="secret-content" name="con">
                <input type="hidden" class="secret-delta" name="delta">


            </div>


            <div class="sidebar">

                <div id="add-toolbar" class="btn-group" role="group">
                    <button id="add" type="submit" class="btn btn-default btn-secondary" name="submit">Save</button>
                    <button id="view" type="button" class="btn btn-default btn-secondary">View</button>
                    <button id="cancel" type="button" class="btn btn-default btn-secondary">Cancel</button>
                </div>

                <h3 class="post-customer customer"><span class="entypo">,</span>Customer</h3>
                <input id="customer-input" type="hidden" name="customer" />
                <div id="customer-app"></div>
          	    <img class="customer-search_img" src="../images/search.ico" />

                <div class="def-header">
                    Recent Customers
                </div>
                <ul class="default-customers">
                  <% for(var i = 0; (i < 5) && (customerdata[i] !== undefined); i++){ %>
                    <li>
                      <a class="def-customer"> <%= customerdata[i].Name %> </a>
                      <div style="display: none;">
                        <%= customerdata[i].ID %>
                      </div>
                    </li>
                  <% } %>
                </ul>

                <ul class="customer-list">
                  <li id="no-customer">
                      No Customer selected
                  </li>
                </ul>
                <div class="add-customer">
                  <a class="add-customer-link" href="/post-customer"> Add New... </a>
                </div>

                <h3 class="post-tags tags"><span class="entypo">C</span>Tags</h3>
                <ul class="tag-list">
                    <li id="no-tag">
                      No Tags
                    </li>
                </ul>
                <div class="add-tag">
                    <a class="add-tag-link"> Add New... </a>
                </div>
                <input type="hidden" id="tag-input" name="tags" />

                <h3 class="post-attachments attachments"><span class="entypo">'</span>Attachments</h3>
                <ul class="attachment-list">
                    <li id="no-attach">
                      No Attachments
                    </li>
                </ul>
                <div class="add-attachment">
                    <a id="upload" class="add-attachment-link"> Add New... </a>
                    <input type="file" id="upload-input" name="uploads[]" multiple="multiple" />
                    <div id="progressBar"></div>
                </div>

            </div>

        </div>
    </form>

    <script src="../scripts/tag.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/post.js"></script>
    <script src="../scripts/bundle-autocomplete-customer.js"></script>
    <script src="../scripts/add-customer.js"></script>

</body>

</html>
